

<div class="welcom-page">
   <div class="right-info">
      <h1>Welcome To StockAndShop App!</h1>
      <div class="center">
         <p class="message"> Already Registered? <%= link_to "Sign In", signin_path %></p>
         <p class="message"> Not Yet Registered? <%= link_to "Sign Up", new_user_path %></p>
      </div>
   </div>
</div>


