

</br></br></br>

<div class="container">
   <button id="all-items">Load Items</button>
   <div class='placeholders' id='categories-data'></div>
   <div class='placeholders' id='items-data'></div>

  <div class='placeholders' id='item-data'></div>
   <div class='placeholders' id='item'></div>


   <div button='one-item'> sigle item </button>
   <div class='placeholders' id=''></div>
</div>
      

