

</br></br></br>

<div class="container">
   <button id="all-items">Load Items</button>
   <div class='placeholders' id='category-data'></div>
   <div class='placeholders' id='items-data'></div>
</div>
      